


<div class="container body-container my-border" id="topicList">
  <a href="/post?fid={{data.id}}" id="submitTopic"><button class="newTopicButton btn btn-primary">Submit new topic</button></a>
    <div class="row forumTopics">
        <h3>{{data.title}}</h3>
    </div>
    {{#each data.Topics}}
        <div class="row topic-rows">
            <div class="col-md-6 topic-titles">
                <a href="/viewtopic?id={{id}}"><h4>{{title}}</h4></a>
            </div>
            <div class="col-md-2 post-count">
                <p>{{Posts.length}}</p>
            </div>
            <div class="col-md-4 last-post">
                <p>{{Posts.0.updatedAt}}<br>By {{Posts.0.User.username}}</p>
            </div>
        </div>
    {{/each}}

</div>
